/*------------------
    ASIDE PROFILE
-------------------*/
aside .profile__right i:hover{ 
    transform: scale(-1, 1);
}

/*------------------
    ASIDE BANNER
-------------------*/
aside .banner-desktop__info a:hover{
    color: black;
    text-decoration-color: black;
}

/*---------------------
    ASIDE CONTACTS
----------------------*/
aside .list-contacts__info:not(.chat-showed):hover{
    background-color: rgba(235, 235, 235, 0.5);
}

/*--------------------
    MAIN INFO CONTACT
---------------------*/
main .chat-info-contact .showed-chat__info__settings i:hover{
    transform: scale(-1, 1);
}

/*--------------------------
    MAIN FIELD OUTPUT&INPUT
---------------------------*/
main .drop-down-open ul li:hover,
main .field-input-message i:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

