/*----------------
    RESET   
-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(214,219,216,1) 20%);
}

#app{
    display: flex;
    height: 100%;
}

/*----------------
    COMMONS  
-----------------*/
.container {
    margin: auto;
    width: 100%;
    max-width: 81.25rem;
    height: calc(100% - 50px);
}

/*----------------
    UTILITIES  
-----------------*/
.d-flex{
    display: flex;
}

/*------------------
    ASIDE
-------------------*/
aside.left-side{
    width: 35%;
    background-color: yellow;
}

/*------------------
    ASIDE PROFILE
-------------------*/
aside .profile{
    border-right: 1px solid #d6d6d6;
}

aside .profile .profile__left{
    display: flex;
}

aside .profile .profile__left h4{
    align-self: center;
}

/*------------------
    ASIDE BANNER
-------------------*/
aside .banner-desktop{
    background-color: #8edafc;
    display: flex;
    padding: .9375rem 1.25rem;
}

aside .banner-desktop i{
    background-color: #f2fbff;
    color: #8edafc;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
    font-size: 1.25rem;
    margin-right: .625rem;
}

aside .banner-desktop__info{
    align-self: center;
}

aside .banner-desktop__info a{
    text-decoration-color: #6b7376;
}

/*---------------------
    ASIDE SEARCH FORM
----------------------*/
.search-in-contacts{
    background-color: #fafafa;
    padding: .5rem;
    display: flex;
}

.search-in-contacts button{
    padding: .4375rem 1.875rem;
    cursor: pointer;
}

.search-in-contacts button i{
    color: #b1b1b1;
    font-weight: bolder;
}

.search-in-contacts input{
    height: 100%;
    flex-grow: 1;
    padding: .4375rem .625rem;
}

.search-in-contacts input:focus{
    outline: none;
}

.search-in-contacts button,
.search-in-contacts input{
    border: 1px solid rgba(128, 128, 128, 0.1);
}

/*------------------
    MAIN - CHAT
-------------------*/
.right-side{
    width: 65%;
    background-color: green;
}

.chat-info-contact{
    border-left: 1px solid #d6d6d6;
}

.chat-info-contact__details{
    align-self: center;
}

/*-------------------------------
    ASIDE (LEFT) & MAIN (RIGHT)
--------------------------------*/
aside .profile,
main .chat-info-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem .9375rem;
    background-color: #eaeaea;
}

aside .profile__right i,
main .showed-chat__info__settings i{
    cursor: pointer;
    color: #b1b1b1;
    margin-left: .9375rem;
}

img.profile-img{
    max-width: 3.125rem;
    border-radius: 50%;
    margin-right: .625rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

aside .banner-desktop__info small,
main .chat-info-contact__details small{
    color: #6b7376;
}