<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BoolZap</title>
        <!-- Google Fonts 'Lato' -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- /Google Fonts 'Lato' -->
        <!-- Fontawesome CDN -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /Fontawesome CDN -->
        <!-- Vue.js CDN -->
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- /Vue.js CDN -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Favicon boolean -->
            <link rel="icon" type="image/x-icon" href="favicon/android-chrome-192x192.png">
            <link rel="icon" type="image/x-icon" href="favicon/android-chrome-512x512.png">
            <link rel="icon" type="image/x-icon" href="favicon/apple-touch-icon.png">
            <link rel="icon" type="image/x-icon" href="favicon/favicon-32x32.png">
            <link rel="icon" type="image/x-icon" href="favicon/favicon-16x16.png">
            <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
            <link rel="icon" type="image/x-icon" href="favicon/site.webmanifest">
        <!-- /Favicon boolean -->
        <!-- Moment JS -->
            <script src="https://momentjs.com/downloads/moment.js"></script>
            <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <!-- Moment JS -->
        <!-- Emoji CDN -->
            <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
        <!-- /Emoji CDN -->
        <!-- Axios CDN -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <!-- /Axios CDN -->
    </head>
    <body>
        <div id="app">
            <div class="ms-container">
                <!-- Left side app - Contacts&Profile -->
                <aside class="left-side">
                    <!-- Info profilo utente -->
                    <div class="profile">
                        <div class="profile__left">
                            <img class="profile-img" src="img/my-pic-profile.jpg" alt="your-profile-pic">
                            <h4>Pietro Fecarotta</h4>
                        </div>
                        <div class="profile__right">
                            <i class="fa-solid fa-arrows-rotate"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /Info profilo utente -->

                    <!-- Banner notifiche desktop -->
                    <div class="banner-desktop">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="banner-desktop__info">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">
                                <small>Attiva notifiche desktop</small>
                            </a>
                        </div>
                    </div>
                    <!-- /Banner notifiche desktop -->

                    <!-- Barra di ricerca per i contatti -->
                    <form class="search-in-contacts" @submit.prevent="">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="filterName" @keyup="filteringListContacts" @keyup.delete="cancLetter">
                    </form>
                    <!-- /Barra di ricerca per i contatti -->

                    <!-- Qui andranno tutti i contatti salvati -->
                    <div class="list-contacts">
                        <div v-show="contact.visible" class="list-contacts__info" :class="{'chat-showed' : index === currentContact}" v-for="(contact, index) in contacts" @click="openChat(index)">
                            <div class="list-contacts__info__user">
                                <img class="profile-img" :src="`img/avatar${contact.avatar}.jpg`" :alt="`${contact.name}_avatar_pic`">
                                <div>
                                    <h4>{{contact.name}}</h4>
                                    <small id="last-msg">{{ contact.messages[contact.messages.length - 1].message }}</small>
                                </div>
                            </div>
                            <div class="list-contacts__info__date">
                                <small>{{ contact.messages[contact.messages.length - 1].date.substring(11,16) }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- /Qui andranno tutti i contatti salvati -->
                </aside>
                <!-- /Left side app - Contacts&Profile -->

                <!-- Right side app - Chat -->
                <main class="right-side">
                    <!-- all info showed chat on the right -->
                    <div class="chat-container">
                        <div class="chat-info-contact">
                            <div class="chat-info-contact__pic d-flex">
                                <img class="profile-img" :src="`img/avatar${contacts[currentContact].avatar}.jpg`" :alt="`${contacts[currentContact].name}_avatar_pic`">
                                <div class="chat-info-contact__details">
                                    <h4>{{contacts[currentContact].name}}</h4>
                                    <small>Ultimo accesso alle {{ lastAccess() }}</small>
                                </div>
                            </div>
                            <div class="showed-chat__info__settings">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <div class="field-output-message">
                            <div class="text-message" v-for="(message, index) in contacts[currentContact].messages" :class="message.status" @mouseleave="closeDropDown(message)">
                                <p>{{ message.message }}</p>
                                <div class="message-info">
                                    <i class="fa-solid fa-chevron-up" @click="isClicked(message)"></i>
                                    <div class="message-star-time">
                                        <small :class="{'opacity-0' : !message.isPref}" id="favourite-star"><i class="fa-solid fa-star"></i></small id="favourite-star">
                                        <small class="sending-time">{{ formatMessageData(message) }}</small>
                                    </div>

                                    <!-- Dropdown menu on click message -->
                                    <div class="drop-down-open" v-if="message.clicked">
                                        <ul>
                                            <!-- Answer button -->
                                                <li><i class="fa-solid fa-share"></i> Rispondi</li>
                                            <!-- /Answer button -->

                                            <!-- Copy button -->
                                                <li id="copy-button" @click="copyText(message)"><i class="fa-solid fa-copy"></i> Copia</li>
                                            <!-- /Copy button -->

                                            <!-- React button -->
                                                <li @click="openReactions(message)"><i class="fa-solid fa-face-smile"></i> Regisci al messaggio</li>
                                            <!-- /React button -->

                                            <!-- Inoltra button -->
                                                <li><i class="fa-solid fa-paper-plane"></i> Inoltra</li>
                                            <!-- /Inoltra button -->

                                            <!-- Important button -->
                                                <li v-if="!message.isPref" id="important-button" @click="setFavouriteMessage(message)"><i class="fa-solid fa-star"></i> Importante</li>
                                                <li v-else id="important-button" @click="setFavouriteMessage(message)"><i class="fa-solid fa-star-half-stroke"></i> Non importante</li>
                                            <!-- /Important button -->

                                            <!-- Delete button -->
                                                <li @click="deleteMessage(index)"><i class="fa-solid fa-trash-can"></i> Elimina</li>
                                            <!-- /Delete button -->
                                        </ul>
                                    </div>
                                    <!-- Dropdown menu on click message -->
                                </div>

                                <!-- Reazioni ai messaggi -->
                                <div class="react-message">
                                    <i class="react-icon fa-regular fa-face-smile" @click="openReactions(message)"></i>

                                    <div v-if="message.reactionsOpen" class="drop-down-react">
                                        <button v-for="emoji in reactEmojiList">
                                            <span @click="selectReaction(message, emoji)">
                                                {{ emoji }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <!-- /Reazioni ai messaggi -->

                                <!-- selected reaction -->
                                <div v-if="message.reactEmojiField !== ''" class="selected-reaction">
                                    {{ message.reactEmojiField }}
                                </div>
                                <!-- /selected reaction -->
                            </div>
                        </div>

                        <form class="field-input-message" @submit.prevent="">
                            <button type="button">
                                <i class="fa-regular fa-face-smile" @click="emojiField"></i>
                            </button>
                            <input ref="search" v-model="sendMessage" type="text" autofocus placeholder="Scrivi un messaggio" @keyup.enter="sendNewMessage">
                            <button type="submit">
                                <i v-if="sendMessage === ''" class="fa-solid fa-microphone" @click="getLocalStream"></i>
                                <i v-else class="fa-solid fa-share" @click="sendNewMessage"></i>
                            </button>
                        </form>
                    </div>
                    <!-- /all info showed chat on the right -->
                </main>
                <!-- /Right side app - Chat -->
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>
